// 酱紫主题
// 主题颜色
$color-primary:#722ED1;
// 主题关联背景色1
$bgc1:#f1eafa;
// 主题关联文本色1
$color1:#8e58da;
// 主题关联按钮色
$btn-color:#6729bc;

// element-ui
@import '../element-theme.scss';
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #f4eefb
}

.el-tag {
    border-color: #e3d5f6;
}

.el-tag--plain {
    border-color: #c7abed;
}

.el-button:focus,
.el-button:hover {
    border-color: #d5c0f1;
    background-color: #f1eafa
}

.el-button--primary.is-plain {
    color: #722ED1;
    background: #f1eafa;
    border-color: #c7abed
}

.el-button--primary.is-plain.is-disabled,
.el-button--primary.is-plain.is-disabled:active,
.el-button--primary.is-plain.is-disabled:focus,
.el-button--primary.is-plain.is-disabled:hover {
    color: #aa82e3;
    background-color: #f1eafa;
    border-color: #e3d5f6
}

.el-link.el-link--primary.is-disabled {
    color: #b997e8
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
    background-color: #722ED1;
    border-color: #722ED1;
    -webkit-box-shadow: -1px 0 0 0 #aa82e3;
    box-shadow: -1px 0 0 0 #aa82e3
}
//换颜色
.mark-box{
    background: $hb-fffbg;
}
