<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.com.mapper.BusinessMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.com.entity.Business">
     <id column="business_id" property="businessId"/>
     <result column="type" property="type"/>
     <result column="main_img" property="mainImg"/>
     <result column="sub_img" property="subImg"/>
     <result column="title" property="title"/>
     <result column="content" property="content"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         business_id as businessId,
         type as type,
         main_img as mainImg,
         sub_img as subImg,
         title as title,
         content as content,
         status as status,
         del as del,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from com_business tb where del='N'
        <if test="condition!=null and condition!=''">
          and title like concat('%',#{condition},'%')
        </if>
        order by tb.create_time desc
    </select>

</mapper>