<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.fin.mapper.PayOrderMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.fin.entity.PayOrder">
     <id column="pay_order_id" property="payOrderId"/>
     <result column="member_id" property="memberId"/>
     <result column="order_no" property="orderNo"/>
     <result column="total_price" property="totalPrice"/>
     <result column="unit_price" property="unitPrice"/>
     <result column="number" property="number"/>
     <result column="actual_price" property="actualPrice"/>
     <result column="fee" property="fee"/>
     <result column="pay_type" property="payType"/>
     <result column="platform_number" property="platformNumber"/>
     <result column="platform_status" property="platformStatus"/>
     <result column="device" property="device"/>
     <result column="close_time" property="closeTime"/>
     <result column="finish_time" property="finishTime"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         pay_order_id as payOrderId,
         member_id as memberId,
         order_no as orderNo,
         total_price as totalPrice,
         unit_price as unitPrice,
         number as number,
         actual_price as actualPrice,
         fee as fee,
         pay_type as payType,
         platform_number as platformNumber,
         platform_status as platformStatus,
         device as device,
         close_time as closeTime,
         finish_time as finishTime,
         status as status,
         del as del,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from fin_pay_order tb where del='N'
        <if test="condition!=null and condition!=''">
          and name like concat('%',#{condition},'%')
        </if>
        order by tb.create_time desc
    </select>

</mapper>