<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.fin.mapper.PlatformCashflowMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.fin.entity.PlatformCashflow">
     <id column="platform_cashflow_id" property="platformCashflowId"/>
     <result column="member_id" property="memberId"/>
     <result column="wallet_type" property="walletType"/>
     <result column="flow_op" property="flowOp"/>
     <result column="flow_type" property="flowType"/>
     <result column="item_code" property="itemCode"/>
     <result column="item_name" property="itemName"/>
     <result column="before_price" property="beforePrice"/>
     <result column="after_price" property="afterPrice"/>
     <result column="flow_price" property="flowPrice"/>
     <result column="flow_coin" property="flowCoin"/>
     <result column="actual_price" property="actualPrice"/>
     <result column="actual_coin" property="actualCoin"/>
     <result column="fee" property="fee"/>
     <result column="fee_coin" property="feeCoin"/>
     <result column="source" property="source"/>
     <result column="from_id" property="fromId"/>
     <result column="to_id" property="toId"/>
     <result column="detail" property="detail"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         platform_cashflow_id as platformCashflowId,
         member_id as memberId,
         wallet_type as walletType,
         flow_op as flowOp,
         flow_type as flowType,
         item_code as itemCode,
         item_name as itemName,
         before_price as beforePrice,
         after_price as afterPrice,
         flow_price as flowPrice,
         flow_coin as flowCoin,
         actual_price as actualPrice,
         actual_coin as actualCoin,
         fee as fee,
         fee_coin as feeCoin,
         source as source,
         from_id as fromId,
         to_id as toId,
         detail as detail,
         status as status,
         del as del,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from fin_platform_cashflow tb where del='N'
        <if test="condition!=null and condition!=''">
          and name like concat('%',#{condition},'%')
        </if>
        order by tb.create_time desc
    </select>

</mapper>