<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.coin.mapper.SwapMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.coin.entity.Swap">
     <id column="swap_id" property="swapId"/>
       <result column="symbol" property="symbol"/>
       <result column="img" property="img"/>
     <result column="type" property="type"/>
     <result column="spread" property="spread"/>
     <result column="version" property="version"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         swap_id as swapId,
         symbol as symbol,
         type as type,
         spread as spread,
         version as version,
         status as status,
         del as del,
         img,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser,
        number,
        hand_number handNumber,
        open_fee_price openFeePrice,
        close_fee_price closeFeePrice
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from coin_swap tb where del='N'
        <if test="condition!=null and condition!=''">
          and symbol like concat('%',#{condition},'%')
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (CREATE_TIME between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        order by tb.create_time desc
    </select>

</mapper>
