<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.app.mapper.PaymentMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.app.entity.Payment">
     <id column="payment_id" property="paymentId"/>
     <result column="member_id" property="memberId"/>
     <result column="name" property="name"/>
     <result column="idcard" property="idcard"/>
     <result column="type" property="type"/>
     <result column="img" property="img"/>
     <result column="bank" property="bank"/>
     <result column="branch" property="branch"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         tb.payment_id as paymentId,
         tb.member_id as memberId,
         tb.name as name,
         tb.idcard as idcard,
         tb.type as type,
         tb.img as img,
         tb.bank as bank,
         tb.branch as branch,
         tb.status as status,
         tb.del as del,
         tb.remark as remark,
         tb.CREATE_TIME as createTime,
         tb.CREATE_USER as createUser,
         tb.UPDATE_TIME as updateTime,
        tb.UPDATE_USER as updateUser
    </sql>
    <select id="selectByCondition" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from app_payment tb
        left join app_member am on tb.member_id=am.member_id where
        am.member_id is not null
            <if test="condition!=null and condition!=''">
               and (tb.name like concat('%',#{condition},'%'))
            </if>

        order by tb.create_time desc
    </select>



</mapper>