<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.chain.mapper.TransferMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.chain.entity.Transfer">
     <id column="transfer_id" property="transferId"/>
     <result column="order_no" property="orderNo"/>
     <result column="member_id" property="memberId"/>
     <result column="price" property="price"/>
     <result column="actual_price" property="actualPrice"/>
     <result column="fee" property="fee"/>
     <result column="type" property="type"/>
     <result column="to_address" property="toAddress"/>
     <result column="tx_hash" property="txHash"/>
     <result column="response" property="response"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         transfer_id as transferId,
         order_no as orderNo,
         member_id as memberId,
         price as price,
         actual_price as actualPrice,
         fee as fee,
         type as type,
         to_address as toAddress,
         tx_hash as txHash,
         response as response,
         status as status,
         del as del,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from chain_transfer tb where del='N'
        <if test="condition!=null and condition!=''">
            and (to_address =#{condition} or member_id = (select member_id from app_member m where m.account=#{condition}))
        </if>
        order by tb.create_time desc
    </select>

</mapper>