<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.fin.mapper.LegalMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.fin.entity.Legal">
     <id column="legal_id" property="legalId"/>
     <result column="member_id" property="memberId"/>
     <result column="used_price" property="usedPrice"/>
     <result column="locked_price" property="lockedPrice"/>
     <result column="type" property="type"/>
     <result column="version" property="version"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         tb.legal_id as legalId,
         tb.member_id as memberId,
         tb.used_price as usedPrice,
         tb.locked_price as lockedPrice,
         tb.type as type,
         tb.version as version,
         tb.status as status,
         tb.del as del,
         tb.remark as remark,
         tb.CREATE_TIME as createTime,
         tb.CREATE_USER as createUser,
         tb.UPDATE_TIME as updateTime,
        tb.UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from fin_legal tb
         inner  join  app_member am on  tb.member_id = am.member_id
       where tb.del='N'
        <if test="condition!=null and condition!=''">
            and tb.member_id =(select member_id from app_member where account=#{condition})
        </if>
        <if test="memberId != null and memberId != ''">
             and (am.member_id = #{memberId}  or am.parent_referee_id like concat('%',#{recommendIds}))
             </if>
        <if test="minPrice != null ">
            and tb.used_price >= #{minPrice}
        </if>
        <if test="maxPrice != null ">
            and tb.used_price <![CDATA[ <= ]]> #{maxPrice}
        </if>
        order by tb.update_time desc
    </select>

</mapper>
