<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.fin.mapper.PayRecordMapper">

     <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.fin.entity.PayRecord">
     <id column="pay_record_id" property="payRecordId"/>
     <result column="pay_code" property="payCode"/>
     <result column="request_data" property="requestData"/>
     <result column="response_data" property="responseData"/>
     <result column="member_id" property="memberId"/>
     <result column="status" property="status"/>
     <result column="del" property="del"/>
     <result column="remark" property="remark"/>
     <result column="CREATE_TIME" property="createTime"/>
     <result column="CREATE_USER" property="createUser"/>
     <result column="UPDATE_TIME" property="updateTime"/>
     <result column="UPDATE_USER" property="updateUser"/>
     </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         pay_record_id as payRecordId,
         pay_code as payCode,
         request_data as requestData,
         response_data as responseData,
         member_id as memberId,
         status as status,
         del as del,
         remark as remark,
         CREATE_TIME as createTime,
         CREATE_USER as createUser,
         UPDATE_TIME as updateTime,
        UPDATE_USER as updateUser
    </sql>

    <select id="selectByCondition" resultType="map">
       select
        <include refid="Base_Column_List"/>
       from fin_pay_record tb where del='N'
        <if test="condition!=null and condition!=''">
          and name like concat('%',#{condition},'%')
        </if>
        order by tb.create_time desc
    </select>

</mapper>